extends layout

block content
	div(class='row','ng-controller'='TwishController')
		div(class='col-md-3 twish pull-right','ng-repeat'='tweet in tweets')
			h4 {{tweet.user.name}} wishes
			p {{tweet.text}}
			button(class='btn btn-sm btn-success') Make True

